<h1>Bienvenido {{ profile.first_name }} tu rol es {{profile.role}}</h1>
<h2>Lista de Productos</h2>
<a href="/api/sessions/logout"><button>Cerrar Sesion32</button></a>
<button onclick="leerCookie()">Mostrar datos de token</button>
<table border="1px">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>price</th>
    <th>thumbnail</th>
    <th>code</th>
    <th>stock</th>
  </tr>
  {{#each productos.payload}}
  <tr>
    {{!-- <td>{{this._id}}</td> --}}
    <td><button class="btn btn-success" onclick="addProductToCart('{{this._id}}')">AddToCart</button></td>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.price}}</td>
    <td>{{this.thumbnail}}</td>
    <td>{{this.code}}</td>
    <td>{{this.stock}}</td>
  </tr>
  {{/each}}
</table>
<div>
  {{#if productos.hasPrevPage}}
  <a href="{{productos.prevLink}}">Anterior</a>
  {{/if}}
  {{#if productos.hasNextPage}}
  <a href="{{productos.nextLink}}">Siguiente</a>
  {{/if}}
</div>
<script>
    addProductToCart = (pid) => {
        fetch(`/api/carts`, {
            method: 'post'
        })
            .then(result => result.json())
            .then(result => {
                if (result.status === 'error') throw new Error(result.error)
                return result.payload._id
            })
            .then(cid => 
                fetch(`/api/carts/${cid}/product/${pid}`, {
                    method: 'post'
                })
            )
            .then(result => {
              console.log("antes de json")
              console.log(result)
              return result.json()}
              )
            .then(result => {
                console.log(result.status === 'error')
                console.log("despues de json")
                console.log(result)
                if (result.status === 'error') throw new Error(result.error)
                alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`)
            })
            .catch(err => alert(`Ocurrió un error :(\n${err}`))
        
    }
</script>
