<h1>Bienvenido {{ profile.first_name }} tu rol es {{profile.role}}</h1>
<h2>Lista de Productos</h2>
<a href="/api/sessions/logout"><button>Cerrar Sesion32</button></a>
<button onclick="VerPerfil()">Mostrar datos de token</button>
<button type="button" onclick="adminUser()" id="btnAdminUser">{{profile.role}}</button>
<button type="button" onclick="adminProduct()" id="btnAdminProduct">{{profile.role}}</button>
<button type="button" onclick="verCarrito()" id="btnVerCarrito">Ver Carrito</button>
<table border="1px">
  <tr>
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>price</th>
    <th>thumbnail</th>
    <th>code</th>
    <th>stock</th>
  </tr>
  {{#each productos.payload}}
  <tr>
    {{!-- <td>{{this._id}}</td> --}}
    <td><button class="btn btn-success" onclick="addProductToCart('{{this._id}}')">AddToCart</button></td>
    <td>{{this.title}}</td>
    <td>{{this.description}}</td>
    <td>{{this.price}}</td>
    <td>{{this.thumbnails}}</td>
    <td>{{this.code}}</td>
    <td>{{this.stock}}</td>
  </tr>
  {{/each}}
</table>
<div>
  {{#if productos.hasPrevPage}}
  <a href="{{productos.prevLink}}">Anterior</a>
  {{/if}}
  {{#if productos.hasNextPage}}
  <a href="{{productos.nextLink}}">Siguiente</a>
  {{/if}}
</div>
<script>
  const VerPerfil = async () => {
    try {
      const data = await leerCookie()
      alert(`Codigo:${data.id} nombre: ${data.full_name} correo:${data.email} edad:${data.age} Rol: ${data.role} carrito:${data.cart}`)
      console.log("fin lectura")
    } catch (error) {
      console.log(error)
    }
  }
  const adminUser = () => {
    console.log("navegar")
    window.location.href = '/views/users';
  }
  const verCarrito = async() => {
    try {
      const data = await leerCookie()
       window.location.href = `/views/${data.cart}`;
    } catch (error) {
      console.log(error)
    }
  }
  const adminProduct = () => {
    console.log("navegar")
    window.location.href = '/views/realtimeproducts';
  }
  const validarAdmin = () => {
    const btnAdminUser = document.getElementById('btnAdminUser')
    const btnAdminProduct = document.getElementById('btnAdminProduct')
    if (btnAdminUser.innerText !== 'admin') {
      btnAdminUser.style.display = 'none'
      if (btnAdminProduct.innerText !== 'premium') {
        btnAdminProduct.style.display = 'none'

      }
    }

    btnAdminProduct.innerText = 'Administrar Productos'
    btnAdminUser.innerText = 'Ver Usuarios'
  }
  validarAdmin()

  addProductToCart = (pid) => {
    fetch(`/api/sessions/current`, {
      method: 'get'
    })
      .then(result => result.json())
      .then(result => {
        if (result.status === 'error') throw new Error(result.error)
        return result.cart
      })
      .then(cid =>
        fetch(`/api/carts/${cid}/product/${pid}`, {
          method: 'post'
        })
      )
      .then(result => {
        return result.json()
      }
      )
      .then(result => {
        if (result.status === 'error') throw new Error(result.error)
        alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`)
      })
      .catch(err => alert(`Ocurrió un error :(\n${err}`))

  }
</script>